<app-dashpage></app-dashpage>
<hr>
<div class="container">
    <p style="margin-left: 30%;">💙{{role | uppercase}} LOGIN💙</p>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-4" style="border: 1px solid #c2dbfe;">
            
            <form [formGroup]="loginDetail">
                <div class="mb-3">
                    <label for="formGroupExampleInput"  class="form-label">Email</label>
                    <input type="text" class="form-control" formControlName="email" id="formGroupExampleInput" placeholder="Name">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password" id="formGroupExampleInput2" placeholder="password">
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-primary">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a routerLink="/signup" class="text-info">New User ? Click to SignUp</a>
                </div>
                
            </form>
        </div>
    </div>
</div>
