<h1>Angular Application</h1>
<div class="row">
    <div class="col-6 librarian_manage">
        <a routerLink="../librarian-component" routerLinkActive="active" class="btn-success btn-lg n1" style="margin-left: 55%;" >Librarian Component</a>
    </div>
    <div class="col-6">
        <a routerLink="../students-component" routerLinkActive="active" class="btn-danger btn-lg n1 ">Students Component</a>
    </div>
</div> 
<div class="row">
    <div class="col-3"></div>

    <div class="col-6 text-primary" style="margin-top: 10%;font-size: 50px;">
        <p class="text-primary">Welcome</p>
        <p class="text-secondary">Click on Above Button</p>
        <p class="text-secondary"> to go through it..</p>  
    </div>
</div>
