
<!-- <div class="row">
    <div class="col-5 librarian_manage">
        <a routerLink="../login" routerLinkActive="active" class="btn-success btn-lg n1" style="margin-left: 55%;">Admin</a>
    </div>
    <div class="col-3">
        <a routerLink="../login" routerLinkActive="active" class="btn-danger btn-lg " >Librarian</a>
    </div>
    <div class="col-3">
        <a routerLink="../login" routerLinkActive="active" class="btn-warning text-white btn-lg" >Student</a>
    </div>
</div> -->

<h1 style="margin-left: 30%;">Angular Application</h1>
<div class="row">
<div class="col-4"></div>
<div class="col-7">   
    <h3 class="text-danger" style="margin-left: 5%;">Login As:</h3>
    <button (click)="login('admin')" [style.background]="adminSelected?'orange':'white'">Admin</button>
    <button (click)="login('student')" [style.background]="studentSelected?'orange':'white'">Student</button>
    <button (click)="login('librarian')" [style.background]="librarySelected?'orange':'white'">Librarian</button>    
</div>
</div>